---
// mi primer type XD
const tituloPlataforma = "Mi Netflix Cultural";
---

<!-- Mi primer HTML / CSS -->
<main style="background-color: #03153D; color: white; min-height: 100vh;">
	<h1>{tituloPlataforma}</h1>
	<p>Bienvenido al catalogo Naturaleza</p>
</main>